@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-brand-a1
    }

    input:not(.manual-outline), textarea {
        @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-brand-a1
    }

    .react-select input {
        @apply focus-visible:ring-0
    }
}

.fixed-breakpoints-width {
    @apply s:w-768px m:w-1024px l:w-1440px
}

.header-width {
    @apply w-full s:w-704px m:w-944px l:w-1208px
}

.category-selector-width {
    @apply s:w-768px m:w-1024px l:w-1440px
}

.slider-button {
    @apply absolute top-1/3
}

.categories-selector-item {
    @apply flex w-full px-4 py-2 items-center justify-start text-body-2 h-10 hover:bg-nc-accent text-left whitespace-normal rounded-lg
}

.segmented-option-border-fix:last-child {
    border-right-width: 1px !important
}

input:checked + div {
    @apply border-brand-a1 bg-brand-a1;
}
input:checked + div svg {
    @apply block text-white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.nc-gradient-brand {
    @apply bg-gradient-to-r from-brand-a1 to-brand-a3
}

.Toastify__toast-body {
    white-space: pre-line
}